.header {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 2rem;
  background-color: var(--accent);
  color: var(--base);
  align-items: center;
}

.search {
  min-width: 50vw;
  padding: .5rem;
  border-radius: .25rem;
  border: none;
}

small {
  background-color: var(--secondary);
  color: var(--accent);
  border-radius: 50%;
  width: 1rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: 600;
  position: absolute;
  top: -10px;
  right: -10px;
}

.cart {
  cursor: pointer;
  position: relative;
}

@media screen and (width < 600px) {
  .search {
    display: none;
  }
}
