.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--accent);
  color: var(--base);
  align-items: center;
}

.search {
  min-width: 50vw;
  padding: .5rem;
  border-radius: .25rem;
  border: none;
}
