.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  list-style: none;
  min-height: 40vh;
  li {
    display: grid;
    grid-template-areas: 'title title' 'units delete';
    grid-template-columns: 1fr auto;
    font-size: 0.875rem;
  }
}

.title {
  grid-area: title;
  font-weight: 700;
}

.units {
  grid-area: units;
}

.delete {
  grid-area: delete;
}

.total {
  display: flex;
  justify-content: space-between;
}
